body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #e8eeee;
}
header div {
  display: block;
  background-color: #212e3e;
}
header div img {
  width: 200px;
  padding-block: 20px;
  padding-inline: 40px;
}
header ul {
  background-color: #33485d;
  color: white;
  padding-left: 30px;
}
header li {
  display: inline-block;
  margin: 10px;
  vertical-align: center;
}
main {
  margin: 30px;
}
#banner {
  padding: 10px;
  background-color: #f66503;
  color: white;
  text-align: center;
}
#bg-image {
  margin-block: 30px;
  height: 200px;
  background-image: url(../images/bg-image.png);
  background-size: contain;
}
h1,
h3 {
  text-align: center;
  color: #d7f8f2;
}
h1 {
  padding: 50px;
  font-weight: bolder;
  font-size: xx-large;
}
h3 {
  font-weight: bold;
}
article {
  height: 700px;
  width: 100%;
  background-color: white;
  text-align: center;
}
main article p {
  height: 20px;
  padding: 40px;
  font-size: larger;
  font-weight: bold;
  text-align: left;
}
main article p a {
  padding: 20px;
  text-decoration: none;
  font-size: medium;
  color: #105453;
}
.article1 {
  display: inline-block;
  margin: 20px;
  height: 550px;
  width: 22%;
  background-image: url(../images/img_1.jpg);
  border-radius: 5%;
  box-shadow: 10px 10px 10px #dee2e5;
}
.article2 {
  display: inline-block;
  margin: 20px;
  height: 550px;
  width: 22%;
  background-image: url(../images/img_2.jpg);
  border-radius: 5%;
  box-shadow: 10px 10px 10px #dee2e5;
}
.article3 {
  display: inline-block;
  margin: 20px;
  height: 550px;
  width: 22%;
  background-image: url(../images/img_3.jpg);
  border-radius: 5%;
  box-shadow: 10px 10px 10px #dee2e5;
}
.article4 {
  display: inline-block;
  margin: 20px;
  height: 550px;
  width: 22%;
  background-image: url(../images/img_4.jpg);
  border-radius: 5%;
  box-shadow: 10px 10px 10px #dee2e5;
}
.section1 {
  height: 600px;
  width: 100%;
  margin-top: 30px;
  background-image: url(../images/img_9.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.section2 {
  height: 600px;
  width: 100%;
  margin-top: 30px;
  background-image: url(../images/img_10.png);
  background-repeat: no-repeat;
  background-size: contain;
}
main p {
  height: 20px;
  padding: 40px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  color: black;
}

main p a {
  padding: 20px;
  text-decoration: none;
  font-size: medium;
  color: #105453;
}
